@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mali:wght@700&family=Questrial&display=swap');


/* 
font-family: 'Josefin Sans', 'Century Gothic',  sans-serif;
font-family: 'Mali', 'Josefin Sans', 'Century Gothic', sans-serif;
font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
 */
body{
 font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
}

.title--div{
  display: flex;
  margin:0;
  padding: 5px;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(1, 147, 184);
  height:200px;
}
.title--img{
  width:80px;
  height: 80px;
  margin: 1rem .5rem;
}
.page--title{
  padding:0;
  font-family: 'Mali', 'Josefin Sans', 'Century Gothic', sans-serif;
  font-size: 36px;
}
/* .page{
  margin: 2rem;
} */
.container{
  display: flex;
  margin: 0;
  padding: 2rem;
  background-color: rgb(1, 147, 184);

}
.search--bar{
  width: 12rem;
  height: 2rem;
  border-radius: 50px;
  margin:0 10px 10px 0;

}
.nav--div{
  display: flex;
  margin: 0;
  grid-template: 30px/ 2fr 2fr 2fr 1fr;
  grid-gap:5px;
  justify-content: flex-end;
}
.nav--1{
  grid-column:1/2 ;
}
.nav--2{
  grid-column:2/3 ;
}
.nav--3{
  grid-column:3/4 ;
}
.nav--4{
  grid-column:4/5 ;
}
/* ------------------------------- */
button{
  filter: drop-shadow(3px 2px 2px rgb(1, 40, 63));
  padding: 5px;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(1, 147, 184, 0.767);
  font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
  transition: all 0.2s ease-in-out;
}
button:hover{
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(255, 125, 0);
  box-shadow: 0 5px 15px rgba(255, 125, 0);
}
.btn{
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  background-color: rgb(255, 125, 0);
}
.btn--form{
  background-color: rgb(255, 125, 0);
  justify-content: flex-end;
  align-content: flex-start;
  margin: 0 0 0 5px;
}
.btn--action{
  font-size: 14px;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50px;
  
}
.btn-color1{
  background-color: rgb(1, 147, 184);
}
.btn-color2{
  background-color: rgb(255, 125, 0);
}
.main--btn{
  margin: 10px 10px;
}
.main--btn:hover{
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(1, 147, 184);
  box-shadow: 0 5px 15px rgba(1, 147, 184);
}
/* ----------------------------- */
table{
  width: 100%;
  text-align: center;
}
tr:nth-child(even) {
  background-color: rgba(1, 147, 184, 0.5);
}
tr:nth-child(odd) {
  background-color: rgba(151, 234, 255, 0.5);
}
tr:hover {
  background-color: #ffc799;
}

.profile--pic{
  border-radius: 50px;
}
.icon--style{
  width:40px;
  height: auto;
  filter: drop-shadow(3px 3px 2px rgb(1, 44, 68));
}
/* ----------------------------- */
.input--container{
  display: grid;
  grid-template: 40px 40px 40px 30px/ 160px 20px 80px;
  grid-gap:3px;
}
.box1{
  grid-column:1/2 ;
  grid-row: 1;
}
.box2{
  grid-column: 1/2; 
  grid-row: 2; 
}
.box3{
  grid-column: 1/2;
  grid-row: 3;  
}
.box4{
  grid-column: 1/2;
  grid-row: 4;  
}
.box5{
  grid-column: 3/4;
  grid-row: 1;  
}
.box6{
  grid-column: 3/4;
  grid-row: 2;  
}
.box7{
  grid-column: 3/4;
  grid-row: 3;  
}
.box8{
  color:rgb(1, 147, 184) ;
  grid-column: 3/4;
  grid-row: 4;  
}
input{
  line-height: 25px;
  width:100%;
}
.modal--title{
  margin: 0 0 10px 0;
}  
.my--modal{
  position: absolute;
  top:10%;
  left:18%;
  width: 300px;
  height: 240px;
  margin:0;
  padding:0 2rem;
  margin-left: 1rem;
  background-color: rgb(170, 173, 173);
  border: 2px solid grey;
  border-radius: 15px;
  z-index: 10;

}
.modal--div{
  padding:1rem;
}
@media only screen and (max-width: 600px){
.my--modal{
    top:20%;
    left:4%;
    width: 250px;
    height:350px;
    margin: 15px;
    padding:0;
  }
 .input--container{
    display: grid;
    grid-template: 40px 40px 40px 40px 40px 40px/ 8px 180px 10px;
    grid-gap:5px;
  }
  .box1{
    grid-column:2/4 ;
    grid-row: 2;
  }
  .box2{
    grid-column: 2/4;
    grid-row: 3; 
  }
  .box3{
    grid-column: 2/4;
    grid-row: 4;  
  }
  .box4{
    grid-column: 2/4;
    grid-row: 5;  
  }
  .box5{
    grid-column: 2/4;
    grid-row: 6;  
  }

  .box8{
    grid-column: 1/2;
    grid-row: 1;  
  }
  .title--div{
    height:100px;
  }
  .title--img{
    width:60px;
    height: 60px;
    margin: .5rem .25rem;
  }
  .page--title{
    font-size: 24px;
  }
  .avatar{
    display: none;
  }
}  
@media only screen and (max-width: 400px){
  .my--modal{
    top:20%;
    left:4%;
    width: 250px;
    height:350px;
    margin: 15px;
    padding:0;
  }
  .page--title{
    padding:.5rem;
    font-size: 26px;
  }

  input{
    line-height: 25px;
    width:96%;
  }
}  
@media only screen and (max-width: 300px){
  .my--modal{
    top: 20%;
    left: 0%;
    width: 300px;
    height:350px;
    margin: auto;
    border: none;
    border-radius: 0;
  }
  .title--img{
    width:50px;
    height: 50px;
    margin: .5rem 0 .5rem .25rem;
  }
  .page--title{
    font-size: 22px;
  }

}