.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page--title{
  padding:0 2rem;
}
/* .page{
  margin: 2rem;
} */
.container{
  display: flex;
  margin: 0;
  padding: 2rem;
  background-color: rgb(1, 147, 184);

}
.search--bar{
  width: 12rem;
  height: 2rem;
  border-radius: 50px;
  margin:0 10px 10px 0;

}
button{
  filter: drop-shadow(3px 2px 2px rgb(1, 40, 63));
  margin: 5px;
  padding: 5x;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  background-color: rgba(1, 147, 184, 0.767);
}
.btn{
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  background-color: rgb(255, 125, 0);
}
.btn--form{
  background-color: rgb(255, 125, 0);
}
.img--btn{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;


}
/* ----------------------------- */
table{
  width: 100%;
  text-align: center;
}
tr:nth-child(even) {
  background-color: rgba(1, 147, 184, 0.5);
}
tr:nth-child(odd) {
  background-color: rgba(151, 234, 255, 0.5);
}
tr:hover {
  background-color: #ffc799;
}

.profile--pic{
  border-radius: 50px;
}
.icon--style{
  width:40px;
  height: auto;
  filter: drop-shadow(3px 3px 2px rgb(1, 44, 68));
}
/* ----------------------------- */
.input--container{
  display: grid;
  grid-template: 40px 40px 40px 30px/ 70px 70px 20px 70px 70px;
  grid-gap:3px;
}
.box1{
  grid-column:1/3 ;
  grid-row: 1;
}
.box2{
  grid-column: 4/6;
  grid-row: 1; 
}
.box3{
  grid-column: 1/3;
  grid-row: 2;  
}
.box4{
  grid-column: 4/6;
  grid-row: 2;  
}
.box5{
  grid-column: 5/6;
  grid-row: 3;  
}
.box6{
  grid-column: 1/5;
  grid-row: 4;  
}
input{
  line-height: 25px;
  width:100%;
}  
.my--modal{
  position: absolute;
  top:10%;
  left:20%;
  width: 350px;
  height: auto;
  margin:0;
  margin-left: 1rem;
  background-color: rgb(170, 173, 173);
  border: 2px solid grey;
  border-radius: 15px;
  z-index: 10;

}
.modal--div{
  padding:1rem;
}
@media only screen and (max-width: 600px){
  .my--modal{
    top:9%;
    left:0%;
    width: 600px;
    height:260px;
    margin: auto;
    border: none;
    border-radius: 0;
  }
}  
@media only screen and (max-width: 400px){
  .my--modal{
    top:-3px;
    left:-3px;
    width: 405px;
    height:auto;
    margin: auto;
    border: none;
    border-radius: 0;
  }
  .page--title{
    padding:.5rem;
    font-size: 26px;
  }
    input{
    line-height: 25px;
    width:95%;
  }
  .input--container{
    display: grid;
    grid-template: 40px 40px 40px 40px 30px/ 110px 20px 70px;
    grid-gap:3px;
  }
  .box1{
    grid-column:1/3 ;
    grid-row: 1;
  }
  .box2{
    grid-column: 1/3;
    grid-row: 2; 
  }
  .box3{
    grid-column: 1/3;
    grid-row: 3;  
  }
  .box4{
    grid-column: 1/3;
    grid-row: 4;  
  }
  .box5{
    grid-column: 3/4;
    grid-row: 5;  
  }
  .box6{
    grid-column: 1/2;
    grid-row: 5;  
  }


}
@media only screen and (max-width: 300px){
  .my--modal{
    top:-3px;
    left:-3px;
    width: 300px;
    height:auto;
    margin: auto;
    border: none;
    border-radius: 0;
  }


}