@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mali:wght@700&family=Questrial&display=swap');


body{
 font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
 width:100%;
}
.title--div{
  display: flex;
  width: 100%;
  margin:0;
  padding: 5px;
  justify-content: flex-start;
  background-color: rgb(1, 147, 184);
  height:70px;
}
.title--img{
  width:70px;
  height: 70px;
  margin: 1rem .5rem;
}
.title{
  padding:0;
  font-family: 'Mali', 'Josefin Sans', 'Century Gothic', sans-serif;
  font-size: 36px;
}
.nav--div{
  padding:  0;
  justify-content: flex-end;
}
.settings--bar{
  display:flex;
  width:100vw;
  justify-content: flex-end;
  align-items: center;
  background-color:rgb(1, 51, 66) ;
  height: 35px;
}

/* ------------------------------- */
button{
  padding: 5px;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(1, 147, 184, 0.767);
  font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
  transition: all 0.2s ease-in-out;
  
}
.btn{
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  background-color: rgb(255, 125, 0);
  filter: drop-shadow(3px 3px 3px rgb(1, 41, 53));
}
btn:hover{
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(255, 125, 0);
  box-shadow: 0 5px 15px rgba(255, 125, 0);
}
.btn--form{
  background-color: rgb(255, 125, 0);
  margin: 0;
  filter: drop-shadow(3px 3px 3px rgb(114, 55, 0));
}
.btn--form:hover{
  background-color: rgb(255, 172, 95);
  border:1px solid rgb(155, 75, 0);
  box-shadow: 0px 3px 6px rgb(114, 55, 0);
}
.btn-color1{
  background-color: rgb(1, 147, 184);
}
.btn-color1:hover{
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(1, 51, 66);
  box-shadow: 0px 3px 8px rgb(1, 51, 66);

}
.btn-color2{
  background-color: rgb(255, 125, 0);
}
.btn-color2:hover{
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(146, 71, 1);
  box-shadow: 0px 3px 8px rgb(146, 71, 1);
}
.btn--actions{
  margin: 0;
  padding:0;
  width: 30px;
  height:30px;
  background-color: transparent;
  border: none;
}
.btn--actions:hover{
  filter: drop-shadow(0px 0px 4px rgb(1, 51, 66));
}
.main--btn{
  margin: 0;
  padding:0;
  width: 30px;
  height:30px;
  background-color: transparent;
  border: none;
}
.main--btn:hover{
   filter: drop-shadow(0px 0px 2px rgb(151, 234, 255)); 
}
.btn--del--modal{
  background-color: rgb(1, 147, 184);
  margin:0 5px;
  filter: drop-shadow(3px 3px 3px rgb(1, 41, 53));
}
.btn--del--modal:hover{
  background-color: rgb(151, 234, 255);
  border:1px solid rgb(1, 51, 66);
  box-shadow: 0px 3px 8px rgb(1, 51, 66);
}
div.scroll{
  position: absolute;
}
.scroll{
  position: fixed;
  padding: 5px;
  margin: auto;
  top:90%;
  left: 3%;
  border-radius: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color:rgba(255, 125, 0, .3);
  border: 1px solid rgba(255, 125, 0, .5);
  z-index: 10;
}
.scroll:hover{
  background-color:rgba(255, 125, 0, .7);
}
.scroll--img{
  filter: invert(78%) sepia(41%) saturate(6075%) hue-rotate(341deg) brightness(100%) contrast(97%);
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 1px;
}
.scroll--img:hover{
  filter: invert(15%) sepia(41%) saturate(1932%) hue-rotate(159deg) brightness(94%) contrast(102%);
}  
footer{
  text-align: center;
  width:100vw;
  margin: 0;
  padding: 10px 5px;
  color: rgb(255, 125, 0);
  background-color:rgb(1, 51, 66);
  height: 80px;

}
footer > h3, p{
  margin: 0;
  padding: 0;
  vertical-align:middle;
}
footer > h3{
  font-family: 'Mali', 'Josefin Sans', 'Century Gothic', sans-serif;
}
/* ----------------------------- */
table{
  position:relative;
  z-index:1;
  width: 100vw;
  text-align: center;
  font-size: 16px;
  font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
}
th{
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: rgba(1, 147, 184, 0.5);
}
tr:nth-child(odd) {
  background-color: rgba(151, 234, 255, 0.5);
}
tr:hover {
  background-color: rgb(255, 199, 153);
}
.left--col{
  align-content: start;
  text-align: start;
}
.profile--pic{
  border-radius: 50px;
}
textarea{
  height: 20px;
  font-size: 14px;
  margin:0;
  border: none;
  font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
}
.text--long{
  width: 90px;
  
}
.text--med{
  width: 70px;
}
.text--short{
  width: 30px;
}
/* ----------------------------- */
.input--container{
  display: grid;
  grid-template: 20px 40px 40px 40px 40px/ 200px 40px 80px;
  grid-gap:3px;
}
.box1{
  grid-column:1/2 ;
  grid-row: 2;
}
.box2{
  grid-column: 1/2; 
  grid-row: 3; 
}
.box3{
  grid-column: 1/2;
  grid-row: 4;  
}
.box4{
  grid-column: 1/2;
  grid-row: 5;  
}
.box5{
  grid-column: 3/4;
  grid-row: 2;  
}
.box6{
  grid-column: 3/4;
  grid-row: 3;  
}
.box7{
  grid-column: 3/4;
  grid-row: 4;  
}
.box8{
  color:rgb(4, 121, 150) ;
  grid-column: 3/4;
  grid-row: 5;  
}

input{
  line-height: 25px;
  width:97%;
  border-radius: 5px;
  padding:2px;
  border: 1px solid rgb(91, 97, 99);
  font-family: 'Questrial', 'Josefin Sans', 'Century Gothic', sans-serif;
}
.modal--title{
  margin: 5px 0 5px 0;
}  
.my--modal{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%); 
  z-index: 10;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  margin: auto;
  padding:0 2rem;
  background-color: rgb(170, 173, 173);
  border: 1px solid grey;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px rgb(1, 41, 53));
}
.modal--div{
  padding:1rem;
}
.modal--delete{
  position: fixed;
  z-index: 10;
  top:50%;
  left:50%; 
  transform: translate(-50%, -50%); 
  width: 200px;
  height: 180px;
  margin: 0rem;
  padding:0 1rem;
  line-height: 18px;
  background-color: rgb(255, 216, 185);
  border: 1px solid grey;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px rgb(1, 41, 53));
}
.modal--delete--cont{
  padding:0;
  display:flex;
}
.student--name{
  color: rgb(3, 93, 121);
  font-weight: bolder;
}
/* ----------ICONS---------- */
.icon {
  width:20px;
  height: auto;
  filter: invert(92%) sepia(7%) saturate(4325%) hue-rotate(167deg) brightness(103%) contrast(101%);

}
.icon--actions {
  width:18px;
  height: auto;
  filter: invert(12%) sepia(18%) saturate(6235%) hue-rotate(167deg) brightness(101%) contrast(99%);
}
.icon--actions:hover{
  filter: invert(48%) sepia(95%) saturate(1702%) hue-rotate(360deg) brightness(102%) contrast(104%);
}
.icon--title {
  width:40px;
  height: auto;
  filter: invert(78%) sepia(41%) saturate(6075%) hue-rotate(341deg) brightness(100%) contrast(97%);
}
@media only screen and (max-width: 600px){
.my--modal{
    top:10%;
    left:4%;
    width: 320px;
    height:350px;
    margin: 15px;
    padding:0;
  }
 .input--container{
    display: grid;
    grid-template: 40px 40px 40px 40px 40px 40px/ 20px 100px 100px 20px;
    grid-gap:5px;
  }
  .box1{
    grid-column:2/4 ;
    grid-row: 2;
  }
  .box2{
    grid-column: 2/4;
    grid-row: 3; 
  }
  .box3{
    grid-column: 2/4;
    grid-row: 4;  
  }
  .box4{
    grid-column: 2/4;
    grid-row: 5;  
  }
  .box5{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 3/4;
    grid-row: 6;  
  }
  .box6{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-column: 2/3;
    grid-row: 6;  
  }
  .box7{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-column: 2/3;
    grid-row: 6;  
  }
  .box8{
    grid-column: 1/2;
    grid-row: 1;  
  }
 
  .avatar{
    display: none;
  }
  .title--div{
    padding: 5px;
    height:70px;
  }
  .title--img{
    width:70px;
    height: 70px;
    margin: 1rem .5rem;
  }
  .title{
    font-size: 36px;
  }
}  

@media only screen and (max-width: 400px){
  .modal--div{
    padding:.5rem;
  }
  .my--modal{
    width: 400px;
    height:350px;
    margin: auto;
    border: none;
    border-radius: 0;
  }
  input{
    line-height: 25px;
    width:95%;
  }
  .title--div{
    padding: 3px;
    height:50px;
  }
  .title--img{
    width:60px;
    height: 60px;
    margin: 5px;
  }
  .title{
    font-size: 25px;
  }
  .icon--title {
    width:30px;
  }
  .icon {
    width:18px;
  }
  table{
  font-size: 14px;
}
}
@media only screen and (max-width: 300px){
  .title--div{
    padding: 2px;
    height:40px;
  }
  .title--img{
    width:50px;
    height: 50px;
    margin: 3px;
  }
  .title{
    font-size: 20px;
  }
  .icon--title {
    width:20px;
  }
  .icon {
    width:18px;
  }
  .settings--bar{
    height: 30px;
    padding:0;
    align-content: center;
  }
  .modal--delete{
    left:5%;
  }
}  